.services {
  min-height: 100vh;
  padding-top: 24rem;
  padding-left: 16rem;
  padding-right: 16rem;
  padding-bottom: 10rem;

  @include respond(phone) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
