// COLORS
$color-primary: #293665;
$color-primary-light: #42559e;
$color-primary-dark: #181f3a;

$color-secondary: #3c6997;
$color-secondary-light: #6d99c5;
$color-secondary-dark: #294766;

$color-tertiary: #c2f2ff;
$color-tertiary-light: #ebfbff;
$color-tertiary-dark: #00c4f5;

$color-champaigne: #ffe6c2;
$color-champaigne-light: #fff7eb;
$color-champaigne-dark: #ffce85;

$color-orange: #ff7a5c;
$color-orange-light: #ffac99;
$color-orange-dark: #ff481f;

$color-grey-light: #f7f7f7;
$color-grey-light-1: #e0e0e0;

$color-grey-dark: #c4c4c4;
$color-grey-dark-2: #8d8d8d;
$color-grey-dark-3: #333333;

$color-white: #fff;
$color-black: #000;
