.section-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__line {
    width: 40%;
    border: 0.5px solid $color-secondary;
    margin-top: 4rem;
  }
  &__text {
    text-align: center;
    margin-top: 4rem;
    padding: 3rem 2rem;
  }
}
