.footer {
  display: flex;
  align-items: center;

  background-color: $color-grey-light-1;

  // height: 8rem;
  padding: 3rem 5rem 3rem 5rem;

  @include respond(tab-port) {
    flex-direction: column;
  }
  &__logo {
    margin-right: 10rem;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__link {
    transition: color 0.1s ease-in;
    &:not(:last-child) {
      margin-right: 5rem;
      @include respond(tab-port) {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
    &:hover {
      color: $color-secondary-dark;
    }
  }
  &__rights {
    margin-left: auto;
    @include respond(tab-port) {
      margin-left: 0;
      align-self: center;
    }
  }
}
